body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; /* Necesario para el posicionamiento absoluto del botón */
    background-color: rgb(17, 18, 23);
    background: repeating-linear-gradient(
        45deg,
        rgb(18, 20, 19), 
        rgb(18, 20, 19) 10px, 
        #111217 10px, 
        #111217 20px
      );


}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    text-align: center;
    color: #ffffff;
}

img {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
    margin: 10px 0;
}

.box {
    background-color: #111217;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px auto;
    border-radius: 8px;
    width: 200px;
}

a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.button-img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.button-img img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.boxi{
    display: flex;
    flex-wrap: wrap;
    padding-left: 820px;

}